.navbar-dark{
    background: black;
}


.jumbotron{
    padding: auto;
    margin: 0px auto;
    background:rgb(117, 110, 110);
    color: floralwhite;
}


.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

body{
    padding: 50px 0px 50px 0px;
    z-index: 0; 
}

.fa-heart{
    color: red;
}

.footer{
    padding: 20px 0px 20px 0px;
    margin: 0px auto;
    background: black;
    color: floralwhite;
}

.footer-row-content{
    padding: 30px 0px 30px 0px;
    margin: 0px auto;
}

.tab-content{
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.card-header{
    background: grey;
}

.carousel{
    background: black;
    padding: 50px 0px 50px 0px;
    opacity: 90%;
}

.modal-header{
    color: floralwhite;
    background: grey;
}



form{
    opacity: 80%;
}

.paral {
    min-height: 400px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    }

/* Paragraph for Parallax Section */ 


    /* Image for Parallax Section */ 
.paralsec {
    background-image: url("https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    }
     
.paralsec1 {
    background-image: url("https://images.unsplash.com/photo-1570691079236-4bca6c45d440?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
     
.paralsec2 {
    background-image: url("https://img.webnots.com/2015/11/parallax2.jpg");
    }
     
    /* Add more images for more sections */








  